/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

BODY

__________________*/

body {
    background-color: red;
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* ______________

H1

__________________*/

h1 {
    color: black;
    font-size: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}